<nav class="navbar navbar-pf-vertical">
  <div class="navbar-header">
    <a href="/" class="navbar-brand">
      <img class="navbar-brand-icon" src="//www.mythtv.org/img/mythtv.png" alt="MythTV Logo">
    </a>
  </div>
</nav>

